@charset "UTF-8"
 h1{
    color: blue; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
  h2{
    background-color: cyan; font-family: Arial, Helvetica, sans-serif; font-size: large;
  }
  p{
    text-align: justify;
  }