@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Passion+One:wght@400;700;900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


:root{
    --fonte-destaque:'Bebas Neue';
    --fonte-corpo: cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: black;
    padding: 100px 10px;
}

header h1{
    color: white;
    text-align: center;
    font-family: var(--fonte-destaque);
    font-size: 80px;
}

header p{
   color: white;
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header a{
   color: white;
   text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}


footer{
    background-color: black;
    padding: 10px;
}

footer p{
    color: white;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: bolder;
}

footer a:hover{
    text-decoration: underline;
}

