@charset "UTF_8";

*{
    font-family: Arial, Helvetica, sans-serif;

}
p{
    text-align: justify;
    
}
h1{
    text-align: center;
    text-shadow: 15px 5px 10px #D4C2AD;
    color: #BA8E7A;
}

body{
    background-color: #EFDFCC;

}
main{
    background-color: white;
    padding: 10px;
    width: 600px;
    margin:auto; 
    box-shadow: 5px 5px 5px black;
    border-radius: 10px 10px 10px;

}
h2{
    color: #66796B;
    text-shadow: 2px 2px 5px;
}